# === Google Gemini ===
GEMINI_API_KEY=twoj_klucz_tutaj

# === Cloudinary ===
CLOUDINARY_CLOUD_NAME=twoja_nazwa_chmury
CLOUDINARY_API_KEY=twoj_klucz_api
CLOUDINARY_API_SECRET=twoj_sekret_api

# === Aplikacja ===
PORT=5000
