# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

# Dane aplikacji (nie chcemy ich na serwerze Git, bo są za duże/prywatne)
output/
authors/*.json
!authors/pixel_art_ready_icons.json
!authors/historical_figures.json

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
