# Niezbędne do poprawnej instalacji
wheel

# Główne biblioteki
Flask==3.0.3
requests==2.31.0
google-genai  # Ta biblioteka obsługuje 'from google import genai'
python-dotenv==1.0.1
cloudinary==1.40.0
gunicorn==22.0.0

# Biblioteki graficzne
Pillow
scikit-image
scikit-learn
numpy
